
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}

<br />
<section id="hero">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">




        <h1>Welcome to Padfolio</h1>
        <h2>Padfolio is an easy-to-use tool to organize your ideas and projects into visual boards.</h2>
        <img src="~/UserTemplate/assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100" class="aos-init aos-animate">
        <button class="btn-get-started animate__animated animate__fadeInUp">@Html.ActionLink("Let's start taking notes", "Index", "UserNote")</button>
        <div class="btns">
            <a href="https://www.facebook.com/serife.gokdas.5"><i class="bi bi-facebook"></i> Facebook</a>
            <a href="https://www.instagram.com/serife.gokdas/"><i class="bi bi-instagram"></i> Instagram</a>
            <a href="https://www.youtube.com/watch?v=7Vrz4msPXt8&ab_channel=%C5%9EerifeG%C3%B6kda%C5%9F"><i class="bi bi-youtube"></i> Youtube</a>
        </div>
    </div>
</section><!-- End Hero Section -->
